:root{
  --color-dark: #0f172a;
  --color-primary: #2563eb;
  --color-accent: #f59e0b; 
  --color-accent-op: #f59f0b3b; 
  --color-light: #f8fafc;
  --text-sans:'Inter','sans-serif';
  --text-display:'Poppins','sans-serif';
}
*{
  margin: 0;
  padding: 0;
}
/* nav bar */
.navbar{
  position: relative;
  z-index: 15;
}
#navbarNav{
  display: flex;
}
#navbarNav button{
  background-color: var(--color-primary);
  padding: 0 15px;
  border-radius: 30px;
  border: none;
  color: white;
  margin-left: 24px;
}
header .navbar .container-fluid{
  display: flex;
  justify-content: space-between;
}
header .navbar .container-fluid a{
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
header .navbar .container-fluid a div h1{
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
header .navbar .container-fluid a div h2{
  font-size: 16px;
  margin: 0;
  color: #0f172a6e;
}
/* banner */
.container-banner{
  height: 60vh;
  position: relative;
  padding: 30px;
  box-sizing: border-box;
}
.banner-img{
  background-image: url(./img/banner/photo-1523240795612-9a054b0db644.avif);
  background-size: cover;
  background-position: center;
  width: 100vw;
  min-height: 60vh;
  top: 0;
  right: 0;
  filter: brightness(0.4);
  position: absolute;
}
.banner-text{
  top: 0;
  right: 0;
  position: relative;
  z-index: 10;
}
.banmer-text_minedu{
  width: 200px;
  font-size: 14px;
  font-weight: 500;
  border: var(--color-accent) solid 1px;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-accent);
  background-color: var(--color-accent-op);
  margin-bottom: 24px;
}
.banner-text_title, .banner-text_title2, .banner-text_title2_1{
  color: var(--color-light);
  line-height: 54px;
  font-size: 56px;
  font-weight: 700;
  width: 40vw;
  padding: 0;
  margin: 0;
}
.banner-text_title2{
  font-weight: bold;
  background-image: linear-gradient(to right, rgb(8, 143, 221),var(--color-accent));
  background-clip: text;
  color: transparent;
}
.banner-text_title2_1{
  font-weight: bold;
  background-image: linear-gradient(to right, rgb(168, 166, 18),var(--color-accent));
  background-clip: text;
  color: transparent;
}
.banner-text_p{
  color: var(--color-light);
  width: 50vw;
  margin: 32px 0;
}
.banner-btn{
  display: flex;
  gap: 20px;
}
.banner-btn .btn-left , .btn-right{
  color: var(--color-dark);
  background-color: var(--color-accent);
  padding: 15px 35px;
  font-weight: 600;
  border-radius: 12px;
}
.banner-btn .btn-right{
  background-color: #4b4e5596;
  color: var(--color-light);
  outline: solid rgba(255, 255, 255, 0.568) 1px;
  border: none;
}
.btn-right:hover , .btn-left:hover{
  filter: brightness(1.2);
}

/* down line banner */

.down-banner_line{
  width: 100%;
  height: 100px;
  background-color: var(--color-dark);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
}
.down-banner_line hr{
  opacity: 1;
  height: 60px;
  width: 1px;
  background-color: rgba(168, 168, 168, 0.521);
}
.down-banner_line h3{
  font-size: 32px;
  color: var(--color-accent);
  text-align: center;
  margin: 0;
  font-weight: 900;
}
.down-banner_line p{
  text-align: center;
  font-size: 14px;
  color: rgb(168, 168, 168);
  font-weight: 400;
  margin: 0;
}
/* text info */
.container-info_middle{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 63px;
  margin-bottom: 8px;

}
.container-info_middle h4{
  font-size: 32px;
  font-weight: bold;
}
.container-info_middle p{
  width: 50vw;
  text-align: center;
  margin: 0;
}

/* container cards  */
.container-cards{
  padding: 50px;
  display: flex;
  gap: 50px;
  justify-content: space-around;
}
.card-body h6{
  border-radius: 15px;
  padding: 2px 6px;
  font-weight: bold;
  font-size: 12px;
  background-color: var(--color-light);
  text-transform: uppercase;
  width: 152px;
  text-align: center;
  margin: 0;
}

.card-right .card-body{
  background:
    linear-gradient(rgba(255, 255, 255, 0.88), rgba(255, 255, 255, 0.88)),
    var(--color-primary);
  padding: 8%;
} 
.card-right .card-body h6{
  color: blue;
}

.card-left .card-body{
  background:
    linear-gradient(rgba(255, 255, 255, 0.88), rgba(255, 255, 255, 0.88)),
    var(--color-accent);
    padding: 8%;
}
.card-body{
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card-left .card-body h6{
  color: rgb(255, 106, 6);
}
.card-body a{
  text-decoration: none;
  font-weight: 600;
}
.card-body ul li{
  padding-bottom: 12px;
}
.card-left .card-link{
  color: rgb(255, 106, 6);

}
.card-right .card-link{
  color: blue;
}

/* container carreras */
.container-card-carreras{
  text-align: center;
}
.container-card-carreras img{
  height: 220px;
  object-fit: cover;

}
.container-card-carreras h5 {
  color: var(--color-primary);
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.container-card-carreras h2 {
  margin: 16px 0 56px 0;
}
.container-card-carreras article {
  margin-bottom: 36px;
}
/* conatiner admision */
.conatiner-card-admision{
  text-align: center;
  padding: 80px;
  background-color: rgb(15, 23, 42);
}
.conatiner-card-admision h4, .conatiner-card-admision span{
  color: white;
}

.conatiner-card-admision article{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  gap: 10px;
}
.conatiner-card-admision article .card{
  background-color: rgba(128, 128, 128, 0.26);
  border: solid rgb(109, 109, 109) 1px;
  color: white;
  font-size: 14px;
}
.conatiner-card-admision article .card h6{
  background-color: transparent;
  color: white;
}
.conatiner-card-admision article .card-body{
  align-items: center;
  background-color: transparent;
}
.conatiner-card-admision article .card-body .card-subtitle{
  text-transform: capitalize;
  font-size: 18px;
}
.conatiner-card-admision article h5{
  background-color: var(--color-primary);
  width: 50px;
  padding: 14px 0;
  border-radius: 50%;
  text-align: center;
  color: white;
}
.container-contactenos{
  background-color:rgb(240, 244, 248);
  padding: 54px;
  display: flex;
  justify-content: center;
}
.container-contactenos .container__div{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  max-width: 80vw;
  box-shadow: 20px 20px 100px rgba(128, 128, 128, 0.144),
  -20px -20px 100px rgba(128, 128, 128, 0.144);
  border-radius: 16px;
}
.container-contactenos .container__div .contactenos-left{
  background-color: white;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  padding: 56px;
}
.container-contactenos .container__div .contactenos-left .section-icon__info{
  display: flex;
  margin-bottom: 24px;
}
.container-contactenos .container__div .contactenos-left .section-icon__info p{
  margin: 0;
  font-weight: 700;
}
.container-contactenos .container__div .contactenos-left .section-icon__info span{
  margin: 0;
  font-size: 14px;
}
.container-contactenos .container__div .contactenos-left .section-icon__info img{
  width: 40px;
  height: 40px;
  margin-right: 20px;
  background-color: rgba(144, 218, 247, 0.247);
  border-radius: 5px;
  padding: 10px;
}

/* contactenos right */
.container-contactenos .container__div .contactenos-right{
  background-color: rgb(248,250, 252);
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 56px;
}
.container-contactenos .container__div .contactenos-right div{
  display: flex;
  flex-direction: column;
}
.container-contactenos .container__div .contactenos-right div input, .container-contactenos .container__div .contactenos-right div select{
  height: 42px;
  border-radius: 5px;
  border: solid rgb(170, 170, 170) 1px;
}
.container-contactenos .container__div .contactenos-right button{
  height: 42px;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: white;
  font-weight: 700;
  border: none;
}
.container-contactenos .container__div .contactenos-right p {
  text-align: center;
}
footer{
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr ;
  padding: 48px 24px;
  color: white;
  background-color: var(--color-dark);
  font-size: 13px;
}
footer .content-footer__left div{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}
footer .content-footer__center{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

footer .content-footer__center div img{
  height: 40px;
  width: 40px;
}
footer .content-footer__right a{
  text-decoration: none;
  color: white;
}
footer .content-footer__right p{
  text-decoration: none;
  color: white;
  text-align: end;
  margin: 8px;
}